html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.car-image {
  align-items: flex-start;
  background-color:
    #f2f2f2;
  border-radius: 71px;
  display: flex;
  height: 80px;
  min-width: 80px;
  padding: 28px 10px;
}

.car {
  height: 21px;
  mix-blend-mode: normal;
  width: 60px;
}

.payment-info {
  align-items: flex-start;
  display: flex;
  margin-left: 5px;
  margin-top: 15px;
  min-width: 201px;
}

.payment-type-icon {
  height: 33px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 30px;
}

.overlap-group2 {
  height: 30px;
  margin-left: 12px;
  position: relative;
  width: 157px;
}

.payment-rate {
  height: 14px;
  left: 0;
  letter-spacing: 0.60px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
}

.payment-type {
  color: var(--big-stone);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xl);
  height: 17px;
  left: 0;
  letter-spacing: 0.70px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
}

.card {
  align-items: flex-start;
  display: flex;
  height: 239px;
  min-width: 344px;
}

.overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 17px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  min-height: 239px;
  padding: 15px 17px;
  position: relative;
  width: 342px;
}

.car-info {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 80px;
  min-width: 303px;
  position: relative;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 5.0px;
  margin-left: 13px;
  min-height: 59px;
  width: 206px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 22px;
  min-width: 206px;
}

.car-name {
  color: var(--big-stone);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  height: 19px;
  letter-spacing: 0.80px;
  min-height: 19px;
  min-width: 159px;
  mix-blend-mode: normal;
}

.more-icon {
  align-self: flex-end;
  height: 20px;
  margin-left: 27px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 20px;
}

.car-id {
  color:
    #000000;
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  height: 16px;
  letter-spacing: 0.65px;
  min-height: 16px;
  mix-blend-mode: normal;
}

.battery-info {
  align-items: flex-start;
  display: flex;
  margin-top: 3px;
  min-width: 136px;
}

.battery-percent {
  height: 14px;
  letter-spacing: 0.60px;
  margin-top: 1px;
  min-height: 14px;
  min-width: 27px;
  mix-blend-mode: normal;
}

.battery-icon {
  height: 18px;
  margin-left: 2px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 18px;
}

.battery-range {
  height: 14px;
  letter-spacing: 0.60px;
  margin-left: 9px;
  margin-top: 1px;
  min-height: 14px;
  mix-blend-mode: normal;
}

.overlap-group1 {
  align-items: flex-start;
  align-self: center;
  background-color:
    #093ee7;
  border-radius: 20px;
  display: flex;
  height: 42px;
  justify-content: flex-end;
  margin-top: 29px;
  min-width: 130px;
  padding: 12px 30px;
}

.button-text {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xl);
  font-weight: 800;
  height: 17px;
  letter-spacing: 0.70px;
  min-height: 17px;
  mix-blend-mode: normal;
}


@import url("https://fonts.googleapis.com/css?family=Lato:400,600,800");

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Card Type Element Component Component Preview HTML Tag div CSS properties {
  "mode": "full", "isActive":false
} */